/* >= 1920px */
.sidebar {
  width: var(--nav-wide-width);
  height: 100vh;
  border-right: 1px solid rgba(219, 219, 219, 1);
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (min-width: 1264px) and (max-width: 1919px) {
  .sidebar {
    width: var(--nav-medium-width);
  }
}
