.bar::before {
  content: "";
  width: 105px;
  background-color: #ccc;
  height: 1px;
  left: 0;
  display: block;
  color: rgb(219, 219, 219);
}

.nav_item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 12px;
  padding: 12px;
}

.nav_item:hover {
  background-color: #fafafa;
  border-radius: 24px;
}
